<div id="packageListNav" class="panel-heading">
  <button class="btn" style="display: none">&lt;&lt;</button> <span>Chiχ Packages</span>
</div>

<div class="panel-content">
<ul id="packageList" class="fan">
<% for(var key in packages) { %>
<li data-ns="<%=key%>"><%=packages[key].description %></li>
<% } %>
</ul>

<ul class="nodes fan" style="display: none"></ul>

</div>

<hr />
